<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35887417823-n5d7q72uvplad1v9ajh2hgfegrd7hck5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35887417823-n5d7q72uvplad1v9ajh2hgfegrd7hck5</string>
	<key>API_KEY</key>
	<string>AIzaSyBvX5XR4Jz3q91FHtf6GDJCTdEytZId6UQ</string>
	<key>GCM_SENDER_ID</key>
	<string>35887417823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.applicationTemplate</string>
	<key>PROJECT_ID</key>
	<string>template-99787</string>
	<key>STORAGE_BUCKET</key>
	<string>template-99787.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35887417823:ios:98284bad8bddebc1405c6a</string>
</dict>
</plist>